---
layout: default
title: Guest
permalink: /guest/
---

<article class="post container card">
  <header class="post-header">
    <h2 class="post-title">{{ page.title }} Posts</h2>
  </header>
  <div class="post-content">
    <p>In this section it is my great pleasure to present you commentaries and reviews on consciousness and related topics by select guest writers with significant experience in the relevant fields. The opinions expressed in the guest posts are the writers, not necessarily my own. </p>

    <p>If you are a researcher interested in contributing a guest post, please send a short title and abstract to: 
    <br><em>consciousnessrealist [at] gmail.com</em>
      <span class="social-icons">
          <a href="{{ site.author.links[0].url }}"><i class="{{ site.author.links[0].icon }}"></i></a>
      </span>
    </p>

  </div>
</article>


{% for post in site.guest %}
  {% include post.html %}
{% endfor %}

