<header class="header">
  <div class="overlay">

  <div class="container">
    <nav class="navbar">

      <ul class="nav" id = "myLinks">
        <li><a href="{{ site.baseurl }}/">{{ 'home' }}</a></li>
          {% for page in site.pages %}
            {% if page.title and page.title != 'Home' %}
             <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
      </ul>

      <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script>
        $(function(){
          $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
          });
        });
      </script>

      <!-- <div class="search">
        <input type="text" placeholder=" ">
        <div>
          <svg>
            <use xlink:href="#path">
          </svg>
        </div>
      </div>
    
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 28" id="path">
          <path d="M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562" transform="translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)"></path>
        </symbol>
      </svg> -->
    </nav>
  </div>

  <div class="container">
      <h1 class="txt-title">
          {{ site.title }}<br />
      </h1>
      <h2 class="txt-subtitle">
          {{ site.subtitle }}<br />
          <small> by {{ site.author.name }} </small>
      </h2>
  </div>


  </div>
</header>
