/* ==========================================================================
   MIXINS
   ========================================================================== */

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}