---
layout: default
---
<article class="post container card">
  <header class="post-header">
    
    <div class="catbar">
      <ul>
        <li style="float:left"><h3>{{ page.type }}</h3></li>
        {% for tag in page.tags %}
          <li class="tags">
            <h3><a href="/tags/#{{ tag }}">{{ tag }}</a></h3>            
          </li>
        {% endfor %}
      </ul>
    </div>
    
    {% if page.type %}
      {% if page.type == 'Review' or page.type == 'Book Review' %}
        <h4 class="article-authors">{{ page.paperauthors }}  ({{page.year}})
          <a class="article-link" href="{{ page.articlelink }}">
            <i class="fas fa-external-link-alt"></i>
          </a>
        </h4>
      {% endif %}
    {% endif %}
    
    <h2 class="post-title">{{ page.title }}</h2>
    <hr>
    <span class="post-meta">
      <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time>
       {% if page.author %}
        <span class="post-author">by {{ page.author }}</span>
       {% else %}
        <span class="post-author">by {{ site.author.name }}</span>
       {% endif %}
       {% if page.editor %}
        <span class="post-author"> (edited by {{ page.editor }})</span>
       {% endif %}
    </span>

  </header>

  <div class="post-content">

    {{ content }}

    <hr> 

    {% if page.type %}
      {% if page.type == 'Review' or page.type == 'Book Review' %}
        <a class="article-link" href="{{ page.articlelink }}">
            {{page.paperauthors}} ({{page.year}}) 
              {% if page.publication_title %}
                <i>{{page.publication_title}}</i>. 
              {% else %}
                <i>{{page.title}}</i>. 
              {% endif %}
              {{page.journalinfo}}. 
          </a>
        </h4>
      {% endif %}
    {% endif %}

    <aside class="share">

      <span>Share this post: </span>

      <a href="http://twitter.com/share?text={{page.type}}: {{page.title}}. &amp;url={{site.url}}{{page.url}} &amp;via={{site.author.twitterhandle}}"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="fa fa-twitter-square"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
      onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <i class="fa fa-facebook-square"></i>
      </a>

    </aside>
  </div>
</article>

<article class="post container card">
  <div class="post-content">
    {% include comments.html %}
  </div>
</article>

